.pathFilter {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 805px) {
    width: 100%;
    margin: 0 auto;
  }
}

.pathFilter label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
}

.pathFilter input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 0.5em;
  border: 1px solid rgba(154, 187, 206, 1);
  outline: none;
  cursor: pointer;
}

input.checked {
  position: relative;
}

input.checked::before {
  content: url('../../assets/images/tick.svg');
  font-size: 1.5em;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 4px;
}

.pathFilter input[type='checkbox']:hover {
  box-shadow: 0 0 20px #2196f3;
}
